@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sancreek&display=swap");

:root {
  --white: #ffffff;
  --purple: #620d9d;
  --LightPurple: #b470e5;
  --pink: #df19e6;
  --black: #000000;
  --gray: #999;
  --stroke: 10px;
}

body {
  background: url(https://w0.peakpx.com/wallpaper/660/349/HD-wallpaper-dark-purple-stars-in-black-sky-dark-purple.jpg);
  font-family: Barlow;
  color: #ffffff;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
header {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background: url(https://as2.ftcdn.net/v2/jpg/10/16/89/81/1000_F_1016898169_9zk6TEVVSOtbQU5ZSyMGwiP2p77KDKLp.jpg);
padding: 1.2rem;
  font-size: 1rem;
  border-radius: 10px;
  border-top: var(--stroke) double var(--purple);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
ul {
  list-style-type: none;
  display: center;
  justify-content: center;
}
nav a {
  display: block;
  color: var(--white);
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--black);
}
nav a:hover {
  color: var(--LightPurple);
}
h1 {
  font-family: Sancreek;
  text-shadow: 2px 2px 1px var(--pink);
}
h2 {
  text-shadow: 2px 2px 1px var(--pink);
}
.button {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 3px var(--black);
}
.button:hover {
  background-color: var(--LightPurple);
  color: var(--black);
}
.button:active {
  background-color: var(--pink);
  transform: translateY(4px);
}
img {
  max-width: 150%;
  border: 5px solid var(--purple);
  box-shadow: 2px 2px 2px var(--black);
}
.resize {
  width: auto;
  height: 200px;
}
.ResizeCoffee {
  width: auto;
  height: 155px;
}
.ResizeJournal {
  width: auto;
  height: 155px;
}
.ResizeDesk {
  width: auto;
  height: 155px;
}
.intro {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.1rem;
}
main {
  margin-top: 3rem;
  text-align: center;
}
.grid {
  display: grid;
  gap: 4rem;
}
footer {
  background: url(https://as2.ftcdn.net/v2/jpg/10/16/89/81/1000_F_1016898169_9zk6TEVVSOtbQU5ZSyMGwiP2p77KDKLp.jpg);
  margin: 5rem 0;
  padding: 0.1rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 10px;
  border-bottom: var(--stroke) double var(--purple);
}
footer a {
  color: var(--white);
}
footer a:hover {
  text-decoration: none;
  color: var(--gray);
}
footer:active {
  background-color: var(--pink);
  transform: translateY(4px);
}
@media (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  header {
    justify-content: center;
  }
}
/* @media (max-width: 500px) {
  header {
    justify-content: center; */
